<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infiniteloop.mytasks" >

   <permission
        android:name="com.infiniteloop.mytasks.PRIVATE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.VIBRATE" />
   <uses-permission android:name="com.infiniteloop.mytasks.PRIVATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.TaskListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NewTaskActivity"
            android:label="@string/new_task"
            android:parentActivityName=".activities.TaskListActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.infiniteloop.mytasks.TaskListActivity" />
        </activity>
        <activity
            android:name=".activities.DetailTaskActivity"
            android:label="@string/task_details"
            android:parentActivityName=".activities.TaskListActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.infiniteloop.mytasks.TaskListActivity" />
        </activity>

        <service android:name=".services.ReminderService" />

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.TaskListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.infiniteloop.mytasks.TaskListActivity" />
        </activity>
        <activity
            android:name=".activities.AlarmActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activities.EditCategoryActivity"
            android:parentActivityName=".activities.TaskListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.infiniteloop.mytasks.TaskListActivity" />
        </activity>

        <receiver
            android:name=".receivers.NotificationReceiver"
            android:exported="false" >
            <intent-filter android:priority="-999" >
                <action android:name="com.infiniteloop.taskr.SHOW_NOTIFICATION" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
